name: Node TS + DockerHub (Reusable)

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        default: "20"
      # opcional: se não mandar, usa o nome do repo do GitHub automaticamente
      image_repo:
        type: string
        required: false
      dockerfile:
        type: string
        default: "./Dockerfile"
      context:
        type: string
        default: "."
      push_on_default_branch:
        type: boolean
        default: true
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: npm
      - run: npm ci
      - run: npm run lint --if-present
      - run: npm test --if-present
      - run: npm run build --if-present

  docker:
    runs-on: ubuntu-latest
    needs: [ci]

    if: >
      github.event_name == 'push' &&
      (inputs.push_on_default_branch == false || github.ref == format('refs/heads/{0}', github.event.repository.default_branch))

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Login no Docker Hub

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Definir nome da imagem
        id: img
        run: |
          # Se não vier input, usa nome do repo do GitHub
          REPO="${{ inputs.image_repo }}"
          if [ -z "$REPO" ]; then
            REPO="${{ github.event.repository.name }}"
          fi
          echo "image=${{ secrets.DOCKERHUB_USERNAME }}/$REPO" >> $GITHUB_OUTPUT

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.img.outputs.image }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,prefix=sha-
            type=ref,event=tag

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}